<!-- Footer -->
 </main>
                
<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="title font-bold"><a href="/about">About us</a></h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="title font-bold"><a href="/suggest">Suggest</a></h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="title font-bold"><a href="/contact">Contact</a></h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <!--Grid column-->
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">Read. Online. Anytime. This is an online archive of books for free to further your knowledge or to simply enjoy yourself while reading. Books are life. Knowledge is power.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!--Grid row-->
        <div class="row pb-3">

            <!--Grid column-->
            <div class="col-md-12">

                <div class="footer-socials mb-5 flex-center">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.facebook.com/illuminativideos/"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://twitter.com/illuminatiiprod"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Non-Copyright: <a href="http://onlinereading.org"> onlinereading.org </a>
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
    <!-- MDBOOTSTRAP SCRIPTS -->
    <script src="https://mdbootstrap.com/previews/templates/admin-dashboard/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://mdbootstrap.com/previews/templates/admin-dashboard/js/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://github.hubspot.com/drop/dist/js/drop.js"></script>
    <script src="https://mdbootstrap.com/previews/templates/admin-dashboard/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/previews/templates/admin-dashboard/js/mdb.min.js"></script>
    <script>
    $(".button-collapse").sideNav();

    var el = document.querySelector('.custom-scrollbar');
        Ps.initialize(el);
    </script>
    <script>
 $(document).ready(function() {
    $('.mdb-select').material_select();
  });

// Data Picker Initialization
$('.datepicker').pickadate();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80718704-2', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>


