<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-lg purple-gradient">
        <i class="fa fa-first-order"></i>
    </a>

    <ul>
        <!--<li><a class="btn-floating red"><i class="fa fa-star"></i></a></li>-->
        <li><a class="btn-floating yellow darken-1"><i class="fa fa-user"></i></a></li>
        <!--<li><a class="btn-floating green"><i class="fa fa-envelope"></i></a></li>-->
        <li><a class="btn-floating blue"><i class="fa fa-music"></i></a></li>
    </ul>
</div>