<% include partials/header %>
<div class="container">




<!--Section: Team v.2-->
<section class="section team-section ">
    <!--Section heading-->
    <h1 class="section-heading ">Online Reading Team</h1>
    <!--Section sescription-->
    <p class="section-description ">This here is the Online Reading team, part of the Cortex Development team.</p>

    <div class="row text-center">

        <!--First column-->
        <div class="col-md-4 mb-r">
            <div class="avatar">
                <img src="/img/empty.png" style="width: 250px; height: 250px">
            </div>
            <h4>John Doe</h4>
            <h5>Empty Position</h5>
<!--
            <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
            <a type="button" class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"></i></a>
            <a type="button" class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"></i></a> -->

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4 mb-r">
            <div class="avatar">
                <img src="/img/illuminatiabout.gif" style="width: 250px; height: 250px">
            </div>
            <h4>Kody Simpson</h4>
            <h5>Full-Stack Developer</h5>

            <!--Google +-->
            <a type="button" href="https://plus.google.com/u/0/communities/115373999457694696670" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>
            <!--Facebook-->
            <a type="button" href="https://open.spotify.com/user/illuminatiiiiii" class="btn-floating btn-small btn-slack"><i class="fa fa-spotify"></i></a>
            <!--GitHub-->
            <a type="button" href="https://gitlab.com/kinglydeveloper" class="btn-floating btn-small btn-git"><i class="fa fa-github"></i></a>

        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4 mb-r">
            <div class="avatar">
                <img src="/img/empty.png" style="width: 250px; height: 250px">
            </div>
            <h4>Jane Doe</h4>
            <h5>Empty Position</h5>

      <!--
            <a type="button" class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"></i></a>

            <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>

            <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a> -->

        </div>
        <!--/Third column-->
    </div>

</section>
<!--/Section: Team v.2-->
</div>
<% include partials/footer %>
