<% include partials/header %>


    <div class="container">


        <!--Section: Products v.1-->
        <section class="section">

            <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <h2 class="h2-responsive">All Books</h2>
            </div>
            <!--Section sescription-->
            <p class="section-description">Every single book on the website. Enjoy! <a href="/genres">Genres</a> | <a href="/suggest">Suggest a Book</a></p>
            <!--First row-->
            <div class="row">
                <% allbooks.forEach(function(allbooks){  %>



                    <div class="col-lg-3 col-md-6 mb-r">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-1" data-toggle="modal" data-target=".<%= allbooks.isbn %>">
                                <img src="/uploads/covers/<%= allbooks.imageName %>" style="height: 331.16px; width: 255px;" alt="">
                                <a href="/read/<%= allbooks.id %>">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                             <!--Button-->
                        <a class="btn-floating btn-action" href="/read/<%= allbooks.id %>"><i class="fa fa-book"></i></a>
                            <!--Card content-->
                            <div class="card-body text-center">
                                
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5><%= allbooks.genre %></h5></a>
                                <h5 class="card-title"><strong><%= allbooks.name %></strong></h5>
                                <!--Description-->
                                <p class="card-text"> by <%= allbooks.author %></p>
                                <!--Card footer-->
                                <% if(currentUser){ %>
                                    <% if(currentUser.username == "Illuminatiiiiii"){ %>
                                        <a href="/remove/<%= allbooks._id %>" class="btn-floating peach-gradient red"><i class="fa fa-trash"></i></a>
                                        <% }else{ %>
                                        <br>
                                            <% } %>
                                          <% } %>
                            </div>
                            <!--/.Card content-->
                        </div>
                        <!--Card Light-->
                    </div>
                    <% }); %>



            </div>
            <!--/First row-->
        </section>
        <!--Pagination -->
<nav class="my-4">
    <ul class="pagination pagination-circle flex-center pg-blue mb-0">

        <!--First-->
        <li class="page-item disabled"><a class="page-link">First</a></li>

        <!--Arrow left-->
        <li class="page-item disabled">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <!--Numbers-->
        <li class="page-item active"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link">5</a></li>

        <!--Arrow right-->
        <li class="page-item">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <!--First-->
        <li class="page-item"><a class="page-link">Last</a></li>

    </ul>
</nav>
<!--/Pagination -->
    </div>
    <% include partials/footer %>
