<% include partials/header %>   
   
<div class="container">
    <div class="col-md-6">
<% authorbooks.forEach(function(books){  %>
        <!--Card Primary-->
        <div class="card indigo text-center z-depth-2">
            <div class="card-body">
                <p class="white-text mb-0"><%= books.author %></p>
            </div>
        </div>
        <!--/.Card Primary-->
        <br>
<% }); %>

    </div>

</div>

<% include partials/footer %>   