<% include partials/header %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i" rel="stylesheet">

    <div class="container-fluid">
        <!--Section: Post-->
        <section class="section section-blog-fw">

            <!--First row-->
            <div class="row">

                <div class="col-md-12">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="/bib/i/?book=<%=book.fileName %>"></iframe>
                    </div>
                    <!--Post data-->
                    <div class="jumbotron wow fadeIn" data-wow-delay="0.3s">
                        <h2><%= book.name %></h2>
                        <p>Written by
                            <a href="#!" class="black-text">
                                <%= book.author %>.</a> Added
                            <%= book.date %>
                        </p>

                        <!--Social shares-->
                        <div class="social-counters">
                            <!--Edit Book-->
                            <button href="/editbook" type="button" class="btn btn-outline-warning waves-effect">Edit</button>
                            <!--Google+-->
                            <div class="fb-share-button" data-href="http://onlinereading.org/read/<%= id %>" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fonlinereading.org%2Fread%2F58d48e37949ce21208fcdba0&amp;src=sdkpreparse">Share</a></div>
                            <!--Fullscreen Mode-->
                            <a href="/bib/i/?book=<%=book.fileName %>" class="btn btn-deep-purple">
                                <i class="fa fa-arrows-alt left"></i>
                                <span class="hidden-md-down">Fullscreen</span>
                            </a>
                            <!--Comments-->
                            <!-- <a class="btn btn-mdb">
                                           <i class="fa fa-comments-o left"></i>
                                           <span class="hidden-md-down">Comments</span>
                                       </a>
                                       <span class="counter">149</span> -->

                        </div>
                        <!--/.Social shares-->

                    </div>
                    <!--/Post data-->

                    <!--Post text-->
                    <div class="post-text wow fadeIn" data-wow-delay="0.3s">
                        <p>
                            <%= book.desc %>
                        </p>
                    </div>
                    <!--/Post text-->

                    <hr class="wow fadeIn" data-wow-delay="0.3s" />

                </div>

            </div>
            <!--/First row-->

        </section>


    </div>
    <% include partials/footer %>
