<% include partials/header %>
    <div class="container">







        <div class="row">
            <div class="col-md-4">
                <h3 style="text-align: center">Online Users</h3>
                <ul class="list-group">
                    <li class="list-group-item">Example User</li>
                </ul>


            </div>
            <div class="col-md-8">
              <ul id="messages">
              </ul>
                <div class="md-form">
                      <form action="">
                        <input type="text" id="m" class="form-control">
                        <button type="submit" name="submit" class="btn btn-outline-primary waves-effect">Submit</button>
                        <label class="">trees have feelings</label>
                      </form>
                </div>
            </div>
        </div>





    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
</script>

    <% include partials/footer %>
