<% include partials/header %>
<div class="container">
    <br>
    <h1 class="section-heading" id="title">Book Genres</h1>
    <!--Section description-->
    <p class="section-description" id="subtitle">All of the books on this website are categorized into these genres.</p>
    <hr>
    <br>
    <!-- End of Header -->


      <!-- Fiction and NonFiction -->
    <div class="row">
        <div class="col-md-6 mb-r">
            <!--Card-->
            <div class="card-overlay" style="background-image: url('/img/genres/fiction.jpg')">

                <!--Content-->
                <div class="white-text text-center">
                    <div class="card-body">
                        <h3>Fiction</h3>
                        <p>Ready to go on an adventure? You might want to read one of these.</p>
                        <a href="/fnf/Fiction" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= fiction %> Books</a>
                    </div>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-6 mb-r">
            <!--Card-->
            <div class="card-overlay" style="background-image: url('/img/genres/nonfiction.jpg')">

                <!--Content-->
                <div class="white-text text-center">
                    <div class="card-body">
                        <h3>Nonfiction</h3>
                        <p>These books are based on true facts and if your looking for an interesting book, you might look here.</p>
                        <a href="/fnf/Nonfiction" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= nonfiction %> Books</a>
                    </div>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->
    </div>

<!--Genres-->
<div class="card-overlay" style="background-image: url('/img/genres/horror.jpg')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Horror</h3>
            <p>If you're afraid, call 911. </p>
            <a href="/genres/Horror" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= horror %> Books</a>
        </div>
    </div>
</div>
<br>
<div class="card-overlay" style="background-image: url('/img/genres/fantasy.jpg')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Fantasy</h3>
            <p>Wow. Cool. </p>
            <a href="/genres/Fantasy" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= fantasy %> Books</a>
        </div>
    </div>
</div>
<br>
<div class="card-overlay" style="background-image: url('/img/genres/drama.png')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Drama</h3>
            <p>I try to bring the audience's own drama - tears and laughter they know about - to them.</p>
            <a href="/genres/Drama" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= drama %> Books</a>
        </div>
    </div>
</div>
<br>
<div class="card-overlay" style="background-image: url('/img/genres/poetry.jpg')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Poetry</h3>
            <p>Oh my beloved belly button.
            The squidgy ring in my midriff mutton.
            Your mystery is such tricky stuff:
            Why are you so full of fluff?</p>
            <a href="/genres/Poetry" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= poetry %> Books</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="card-overlay" style="background-image: url('/img/genres/romance.jpg')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Romance</h3>
            <p>Romance is tempestuous. Love is calm.</p>
            <a href="/genres/Romance" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= romance %> Books</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="card-overlay" style="background-image: url('/img/genres/comedy.jpg')">
    <!--Content-->
    <div class="white-text text-center">
        <div class="card-body">
            <h3>Comedy</h3>
            <p>"Mine eyes smell onions"</p>
            <a href="/genres/Comedy" class="btn btn-lg btn-white-outline"><i class="fa fa-book left"></i> <%= comedy %> Books</a>
        </div>
    </div>
</div>
<br>
<!--Sub Genres-->
<div class="row">
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/youngadult.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Young Adult</h3>
                  <a href="/genres/Young Adult" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= youngadult %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('img/genres/sciencefiction.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Science Fiction</h3>
                  <p>May the Force be with you.</p>
                  <a href="/genres/Science Fiction" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= sciencefiction %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/mystery.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Mystery</h3>
                  <p>'I am a brain, Watson. The rest of me is a mere appendix.'</p>
                  <a href="/genres/Mystery" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= mystery %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/comics.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Comics</h3>
                  <a href="/genres/Comics" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= comics %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/history.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>History</h3>
                  <a href="/genres/History" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= history %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/historicalfiction.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Historical Fiction</h3>
                  <a href="/genres/Historical Fiction" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= historicalfiction %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/philosophy.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Philosophy</h3>
                  <a href="/genres/Philosophy" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= philosophy %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/actionadventure.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Action/Adventure</h3>
                  <a href="/genres/Action/Adventure" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= actionadventure %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/satire.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Satire</h3>
                  <a href="/genres/Satire" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= satire %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/children.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Children</h3>
                  <p>A b c d e f g...</p>
                  <a href="/genres/Children" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= children %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/religion.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Religion</h3>
                  <p>Taste and see that the LORD is good; blessed is the one who takes refuge in him.</p>
                  <a href="/genres/Religion" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= religion %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/biography.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Biography</h3>
                  <p>Books about people.</p>
                  <a href="/genres/Biography" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= biography %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/autob.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Autobiography</h3>
                  <p>Books about people written by the people.</p>
                  <a href="/genres/Autobiography" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= autobiography %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/art.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Art</h3>
                  <a href="/genres/Art" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= art %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mb-r">
      <!--Card-->
      <div class="card-overlay" style="background-image: url('/img/genres/cooking.jpg')">

          <!--Content-->
          <div class="white-text text-center">
              <div class="card-body">
                  <h3>Cooking</h3>
                  <p>Yum.</p>
                  <a href="/genres/Cooking" class="btn btn-lg btn-outline-white"><i class="fa fa-book left"></i> <%= cooking %> Books</a>
              </div>
          </div>

      </div>
      <!--/.Card-->
  </div>
</div>




</div>
<% include partials/footer %>
