<% include partials/header %>
<div class="container">
    <!--Section: Products v.1-->
    <section class="section">

    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <h2 class="h2 h2-responsive"><%= genre %> Books</h2>
    </div>
    <!--Section sescription-->
    <p class="lead section-description">Every book categorized as <%= genre %> is found here.</p>
    <!--First row-->
    <div class="row">
        <% books.forEach(function(books){  %>
            <!--First column-->
        <div class="col-lg-3 col-md-6 mb-r">
            <!--Card-->
            <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-1" data-toggle="modal" data-target=".<%= books.isbn %>">
                                <img src="/uploads/covers/<%= books.imageName %>" style="height: 331.16px; width: 255px;" alt="">
                                <a href="/read/<%= books.id %>">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                             <!--Button-->
                        <a class="btn-floating btn-action" href="/read/<%= books.id %>"><i class="fa fa-book"></i></a>
                            <!--Card content-->
                            <div class="card-body text-center">
                                
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5><%= books.genre %></h5></a>
                                <h5 class="card-title"><strong><%= books.name %></strong></h5>
                                <!--Description-->
                                <p class="card-text"> by <%= books.author %></p>
                                <!--Card footer-->
                                <% if(currentUser){ %>
                                    <% if(currentUser.username == "Illuminatiiiiii"){ %>
                                        <a href="/remove/<%= books._id %>" class="btn-floating peach-gradient red"><i class="fa fa-trash"></i></a>
                                        <% }else{ %>
                                        <br>
                                            <% } %>
                                          <% } %>
                            </div>
                            <!--/.Card content-->
                        </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
        <% }); %>

    </div>
    <!--/First row-->
</section>
</div>
<% include partials/footer %>
