<% include partials/header %>
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url(/img/homebg.png);">
            <div class="text-white text-center d-flex flex-center align-items-center rgba-stylish-strong py-5 px-4">
                <div class="py-5">
                    <!--Content-->
                        <h6 class="orange-text font-bold"><i class="fa fa-barcode"></i> Read. Online. Anytime.</h6>
                        <h1 class="card-title pt-3 mb-5 font-bold">Online Reading</h1>
                        <p class="px-5 pb-4">"I will honor Christmas in my heart, and try to keep it all the year." ~~ Charles Dickens</p>
                        <h6><%= bookCount %> <span class="badge cyan">Books</span></h6><h6><%= userCount %> <span class="badge purple darken-2">Readers</span></h6><br>
                        <a class="btn peach-gradient" href="/all"><i class="fa fa-book left"></i> Read Books</a>
                    <!--Content-->
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <h2 class="h2 h2-responsive">Newest Books</h2>
        </div>
        <!-- Newest Books -->
        <div class="row">

            <% for(var i = 1; i != 9; i++){  %>
                <!--First column-->
                <div class="col-lg-3 col-md-6 mb-r">
                    <!--Card-->
                    <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-1"">
                                <img src="/uploads/covers/<%= allbooks[i].imageName %>" style="height: 331.16px; width: 255px;" alt="">
                                <a href="/read/<%= allbooks[i].id %>">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                             <!--Button-->
                        <a class="btn-floating btn-action" href="/read/<%= allbooks[i].id %>"><i class="fa fa-book"></i></a>
                            <!--Card content-->
                            <div class="card-body text-center">
                                
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5><%= allbooks[i].genre %></h5></a>
                                <h5 class="card-title"><strong><%= allbooks[i].name %></strong></h5>
                                <!--Description-->
                                <p class="card-text"> by <%= allbooks[i].author %></p>
                                <!--Card footer-->
                                <% if(currentUser){ %>
                                    <% if(currentUser.username == "Illuminatiiiiii"){ %>
                                        <a href="/remove/<%= allbooks._id %>" class="btn-floating peach-gradient red"><i class="fa fa-trash"></i></a>
                                        <% }else{ %>
                                        <br>
                                            <% } %>
                                          <% } %>
                            </div>
                            <!--/.Card content-->
                        </div>
                    <!--/.Card-->
                </div>
                <!--/First column-->
                <% }%>

        </div>
        <!-- End of Newest Books -->

        <br>
        <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <h2 class="h2 h2-responsive">Bookshelves</h2><a href="/genres"><button type="button" class="btn aqua-gradient btn-rounded">More Shelves</button></a>
        </div>

        <div class="row">
            <div class="col-md-6 mb-r">
                <!--Card-->
                <div class="card-overlay" style="background-image: url('/img/genres/fiction.jpg')">

                    <!--Content-->
                    <div class="white-text text-center">
                        <div class="card-body">
                            <h3>Fiction</h3>
                            <p>Ready to go on an adventure? You might want to read one of these.</p>
                            <a href="/fnf/Fiction" class="btn btn-lg btn-outline-white"><i class="fa fa-clone left"></i> <%= fiction %> Books</a>
                        </div>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-6 mb-r">
                <!--Card-->
                <div class="card-overlay" style="background-image: url('/img/genres/nonfiction.jpg')">

                    <!--Content-->
                    <div class="white-text text-center">
                        <div class="card-body">
                            <h3>Nonfiction</h3>
                            <p>These books are based on true facts and if your looking for an interesting book, you might look here.</p>
                            <a href="/fnf/Nonfiction" class="btn btn-lg btn-outline-white"><i class="fa fa-clone left"></i> <%= nonfiction %> Books</a>
                        </div>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            <!--/Third column-->
        </div>


        <!--Genres-->
        <div class="card-overlay" style="background-image: url('/img/genres/horror.jpg')">
            <!--Content-->
            <div class="white-text text-center">
                <div class="card-body">
                    <h3>Horror</h3>
                    <p>If you're afraid, call 911. </p>
                    <a href="/genres/Horror" class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> <%= horror %> Books</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
    </div>
     <!--Section: Main portfolio-->
     <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <h2 class="h2 h2-responsive">Some Amazing Authors</h2><a href="/genres"><button type="button" class="btn aqua-gradient btn-rounded">More Authors</button></a><h6><%= bookCount %> <span class="badge cyan">Books</span></h6>
        </div>
            <section id="portfolio" class="section">
            
            
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--First column-->
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <!--Full width lightbox-->
                        <div class="mdb-lightbox">

                            <figure class="col-md-3">
                                <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" data-size="600x837">
                                    <img src="https://2982-presscdn-29-70-pagely.netdna-ssl.com/wp-content/uploads/2016/01/edgar_allan_poe_by_crisvector-d3jswe4.png" style="width: 640px; height: 400px">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(61).jpg">
                                    <img src="https://pbs.twimg.com/profile_images/448003658676834304/MsH8QjKs_400x400.jpeg" style="width: 640px; height: 400px">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(62).jpg" data-size="781x1172">
                                    <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(62).jpg" style="width: 640px; height: 400px">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(60).jpg" data-size="781x1172">
                                    <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(60).jpg" style="width: 640px; height: 400px">
                                </a>
                            </figure>
                        </div>
                        <!--/Full width lightbox-->

                    </div>
                    <!--/First column-->

                </div>
                <!--/First row-->
            
            </section>
            <!--/Section: Main portfolio-->
    </div>
    
    <%include partials/footer %>
