<% include partials/header %>
    <link href="/awesomplete.css" rel="stylesheet" />
    <div class="container">
        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-envelope"></i> Add a Book:</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <p style="text-align: center">Nothing innapropriate. Don't put a book that already exists. You are responsible for the book(s) you upload.</p>
        <br>

        <h4 id="" class=""><strong>ISBN:</strong></h4>
        <!--Section: Live preview-->
        <section>

            <div class="row">
                <div class="col">

                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="card-block">
                              <div class="md-form">
                                  <i class="fa fa-hashtag prefix"></i>
                                  <input name="isbn" type="text"class="form-control">
                                  <label for="isbn">ISBN</label>
                              </div>
                          </div>
                        <div class="text-center">
                                        <a class="btn btn-outline-danger btn-rounded waves-effect">Cancel</a>
                                        <button onclick="changeToArray()" class="btn btn-default" type="submit" name="submit">Submit</button>
                                    </div>
                    </form>

                </div>
            </div>

        </section>
        
        


        </div>
        <script src="/awesomplete.js"></script>
        <% include partials/footer %>